.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary_alt);
}

.app-container h1 {
  color: var(--secondary_alt);
  padding: 1rem;
}
