.footer_box {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em;
  bottom: 0;
  width: 100vw;
  background-color: var(--primary);
  border-top: 1px solid var(--secondary_alt);
}

.footer_box p {
  color: var(--secondary_alt);
}