.productImg {
  height: auto;
  max-width: 30vw;
  vertical-align: middle;
}

.deleteProduct, .addToCart {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--secondary_alt);
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 40px 15px 0px 15px;
  border: 2px outset var(--primary_alt);
  border-radius: 10px;
  text-align: center;
}

.deleteProduct:hover, .addToCart:hover {
  background-color: var(--secondary_alt);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--secondary_alt), 0 0 25px var(--secondary_alt),
    0 0 50px var(--secondary_alt), 0 0 100px var(--secondary_alt);
    cursor: pointer;
}

.btn--block {
  display: block;
  width: 100%;
}

.postcard {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.product {
  background-color: var(--secondary);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2%;
  margin: 2%;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}

.card__title {
  color: @gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
