body {
  margin: 0;
  padding: 0;
  background: linear-gradient(var(--primary), var(--primary_alt));
}
.instructions {
  font-size: 0.75em;
  border-radius: 0.5em;
  background: var(--secondary_alt);
  color: #fff;
  padding: 0.25em;
  position: relative;
  bottom: -10px;
}
.instructions > svg {
  margin-right: 00.25em;
}
.offscreen {
  position: absolute;
  left: -9999px;
}
.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 00.25em;
}

.invalid {
  color: red;
  margin-left: 0.25em;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.line {
  display: inline-block;
}

.register_box {
  display: inline-block;
  top: 50%;
  left: 50%;
  height: fit-content;
  width: 30rem;
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 8rem;
  background: var(--primary);
  box-sizing: border-box;
  box-shadow: 0 1rem 1.25rem var(--additional_color);
  border-radius: 1em;
  text-align: center;
}
.register_box h1 {
  display: inline-block;
  margin: 0.25rem 5rem 0.25rem 5rem;
  padding: 0.25em;
  color: var(--secondary_alt);
  text-align: center;
}
.register_box h2 {
  margin: 0 0 30px;
  padding: 0.25rem;
  color: #fff;
  text-align: center;
}
.register_box p {
  margin: 1em;
  padding: 0.25em;
  color: #fff;
  text-align: left;
}
.register_box .user_box {
  position: relative;
  padding: 0.25em;
}
.register_box .user_box .condition_box {
  position: relative;
  display: inline-block;
  padding: 0.25em;
}
.register_box .user_box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.register_box .user_box label {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.register_box .user_box input:focus ~ label,
.register_box .user_box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--secondary);
  font-size: 12px;
  display: inline-block;
}

.register_box .buttonContainer {
  position: flex;
  display: inline-block;
}

.register_box .buttonContainer .submit {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
  color: var(--secondary_alt);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 0.5rem 1rem 0px 1rem;
  letter-spacing: 4px;
  background: var(--primary);
  border: none;
}

.register_box .buttonContainer .submit:hover {
  background: var(--secondary_alt);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--secondary_alt), 0 0 25px var(--secondary_alt),
    0 0 50px var(--secondary_alt), 0 0 100px var(--secondary_alt);
}

.register_box .submit span {
  position: absolute;
  display: block;
}
.register_box .submit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--secondary_alt));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.register_box .submit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--secondary_alt));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.register_box .submit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--secondary_alt));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.register_box .submit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--secondary_alt));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
.register_box .loginContainer {
  display: flex;
  top: 2em;
  margin: 1em;
  height: 2em;
  width: 20em;
  text-align: left;
  padding-top: 1em;
  font-size: small;
  align-items: center;
  justify-content: center;
}

.loginContainer .buttonContainer .loginSubmit {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 1em 1em;
  color: var(--secondary_alt);
  font-size: 9px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 0.25em 15px 0px 15px;
  letter-spacing: 0.25em;
  background: var(--primary);
  border: none;
}
.loginContainer .loginSubmit:hover {
  background: var(--secondary_alt);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--secondary_alt), 0 0 10px var(--secondary_alt),
    0 0 15px var(--secondary_alt), 0 0 20px var(--secondary_alt);
}
